body {
  background: #f6f6f6;
  margin: 5% 5%; }
  body .background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0; }
  body .wrapper {
    color: #ccc;
    overflow: hidden; }
    body .wrapper .item {
      position: relative;
      width: 28%;
      margin: 30px 2.65%;
      float: left; }
      body .wrapper .item .name {
        position: relative;
        top: 110%;
        color: #000;
        text-align: center;
        font-weight: bold;
        font: 12px "Oswald";
        height: 40px;
        padding-top: 25px;
        margin-bottom: -50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0 0 1px; }
      body .wrapper .item .info {
        width: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        border: none; }
        body .wrapper .item .info button {
          border: none;
          background: #8ae6cf;
          color: #2c303d;
          font: 18px "Open Sans", sans-serif;
          text-transform: uppercase;
          font-weight: bold;
          padding: 3px 8px;
          display: none;
          margin: 0 auto; }
      body .wrapper .item .price {
        position: absolute;
        bottom: 10%;
        right: 0px;
        padding: 5px 2px;
        background: #8ae6cf;
        color: #2c303d;
        font-weight: bold;
        letter-spacing: 1px; }
        body .wrapper .item .price span.oldprice {
          padding-right: 10px;
          text-decoration: line-through; }
        body .wrapper .item .price span:before {
          content: "$";
          margin-right: 0px; }
        body .wrapper .item .price span:nth-child(2) {
          color: #ce2c52; }
      body .wrapper .item .picture {
        top: 0;
        left: 0;
        width: 100%; }
        body .wrapper .item .picture img {
          display: inline-block;
          width: 100%;
          height: auto; }
    body .wrapper .details {
      height: 70%;
      width: 80%;
      left: 10%;
      top: 15%;
      background: #f00;
      background-color: #eaf2f4;
      min-width: 740px;
      display: none;
      min-height: 500px;
      position: fixed;
      z-index: 101; }
      body .wrapper .details .pic_col, body .wrapper .details .info_col {
        width: 50%;
        height: 100%;
        position: relative; }
      body .wrapper .details .pic_col {
        float: left; }
        body .wrapper .details .pic_col .pic {
          width: 100%;
          height: 85%;
          overflow: hidden;
          background: url(../img/item1.jpg);
          background-size: 100%;
          background-repeat: no-repeat; }
          body .wrapper .details .pic_col .pic img {
            display: block;
            height: 100%;
            margin: 0 auto;
            padding-top: 20px;
            width: auto;
            display: none; }
        body .wrapper .details .pic_col .social {
          position: absolute;
          top: 20px;
          left: 10px;
          background: #eaf2f4; }
          body .wrapper .details .pic_col .social .show_sl {
            color: #2c87ce;
            background: none;
            border: none;
            font-size: 30px;
            width: 42px;
            height: 47px; }
          body .wrapper .details .pic_col .social .social_links {
            display: block;
            margin: 0;
            padding: 0;
            display: none; }
            body .wrapper .details .pic_col .social .social_links li {
              display: block;
              margin: 0;
              padding: 0;
              background: url(../img/social.png);
              background-repeat: no-repeat;
              width: 42px;
              height: 42px;
              cursor: pointer;
              margin-bottom: 5px; }
            body .wrapper .details .pic_col .social .social_links .twitter {
              background-position: 0 -51px; }
            body .wrapper .details .pic_col .social .social_links .pin {
              background-position: 0 -102px; }
            body .wrapper .details .pic_col .social .social_links .youtube {
              background-position: 0 -153px; }
            body .wrapper .details .pic_col .social .social_links .instagram {
              background-position: 0 -204px; }
              body .wrapper .details .pic_col .social .social_links .instagram a {
                display: block;
                height: 100%;
                width: 100%; }
      body .wrapper .details .info_col {
        float: right;
        position: relative;
        padding-right: 50px;
        padding-left: 30px;
        box-sizing: border-box; }
        body .wrapper .details .info_col .close {
          position: absolute;
          right: 10px;
          background: url(../img/close1.png);
          height: 50px;
          width: 50px;
          background-size: 100%;
          margin-top: 10px; }
        body .wrapper .details .info_col h1 {
          font: 18px "Oswald";
          color: #2c303d;
          text-transform: uppercase;
          text-align: left;
          font-weight: bold; }
        body .wrapper .details .info_col .code {
          font-size: 10px;
          color: #2c303d;
          text-align: left;
          display: block;
          width: 100%; }
        body .wrapper .details .info_col .price {
          padding: 15px 0;
          color: #2c303d;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 18px; }
          body .wrapper .details .info_col .price span.oldprice {
            padding-right: 10px;
            text-decoration: line-through; }
          body .wrapper .details .info_col .price span:before {
            content: "$";
            margin-right: 0px; }
          body .wrapper .details .info_col .price span:nth-child(2) {
            color: #ce2c52; }
        body .wrapper .details .info_col .rating {
          display: block;
          margin: 0;
          padding: 0;
          overflow: hidden; }
          body .wrapper .details .info_col .rating .positive, body .wrapper .details .info_col .rating .positive_st {
            background-position: -18px 17px; }
          body .wrapper .details .info_col .rating li {
            display: block;
            float: left;
            background: url(../img/stars.png);
            width: 17px;
            height: 17px;
            background-position: 0 17px; }
        body .wrapper .details .info_col .descript h3 {
          margin-bottom: -5px;
          color: #2c303d;
          display: none; }
        body .wrapper .details .info_col .descript p {
          clear: both;
          margin-top: 15px;
          color: #2c303d;
          font: 14px "Open Sans";
          max-height: 136px;
          overflow: hidden; }
        body .wrapper .details .info_col .size {
          display: block;
          margin: 0;
          padding: 0;
          margin-left: 55px;
          position: absolute;
          bottom: 100px; }
          body .wrapper .details .info_col .size:before {
            content: "Size:";
            float: left;
            height: 30px;
            display: block;
            margin-left: -55px;
            width: 40px;
            line-height: 40px;
            color: #2c303d;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold; }
          body .wrapper .details .info_col .size li {
            display: block;
            float: left;
            border: 2px solid #2c303d;
            width: 30px;
            height: 30px;
            padding: 5px;
            text-align: center;
            border-radius: 50%;
            margin-right: 15px;
            line-height: 30px;
            color: #2c303d;
            cursor: pointer; }
            body .wrapper .details .info_col .size li:hover, body .wrapper .details .info_col .size li.size_clicked {
              background: #2c303d;
              color: #fff; }
        body .wrapper .details .info_col button.submit {
          clear: both;
          height: 50px;
          width: 200px;
          margin: 0 auto;
          display: block;
          position: absolute;
          bottom: 30px;
          border: none;
          border-radius: 25px;
          background: #8ae6cf;
          color: #2c303d;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 15px; }

@media only screen and (max-width: 959px) {
  .main_box .wrapper .item {
    width: 44%;
    margin-bottom: 52px; }
    .main_box .wrapper .item .info {
      display: block;
      top: 100%; }
      .main_box .wrapper .item .info button {
        border: none;
        background: rgba(0, 0, 0, 0.51);
        color: #8ae6cf;
        font: 18px "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        padding: 3px 8px;
        display: none;
        margin: 0 auto;
        width: 100%;
        display: block;
        margin-top: -28px;
        height: 40px; }
    .main_box .wrapper .item .name {
      position: static;
      top: 110%;
      color: #000;
      text-align: center;
      font-weight: bold;
      font: 16px "Oswald";
      height: 40px;
      padding-top: 0px;
      margin-bottom: -50px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-shadow: 0 0 1px; }
    .main_box .wrapper .item .oldprice {
      display: none; }
    .main_box .wrapper .item .price {
      position: absolute;
      top: 100%;
      right: 0px;
      padding: 5px 2px;
      background: none;
      color: #2c303d;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 32px;
      width: 100%;
      text-align: center; }
  .main_box .wrapper .details {
    width: 81.4%;
    min-width: 0px;
    top: 80px; }
    .main_box .wrapper .details .pic_col {
      width: 310px;
      margin-left: 47px; }
      .main_box .wrapper .details .pic_col .social {
        margin-top: 38px; }
        .main_box .wrapper .details .pic_col .social .show_sl {
          display: none; }
        .main_box .wrapper .details .pic_col .social .social_links {
          display: block;
          margin-top: 0; }
    .main_box .wrapper .details .info_col {
      width: 40%; }
      .main_box .wrapper .details .info_col h1 {
        position: absolute;
        left: -100%;
        margin-left: -10%; }
      .main_box .wrapper .details .info_col .price {
        position: absolute;
        top: 100px;
        font-size: 32px; }
        .main_box .wrapper .details .info_col .price span, .main_box .wrapper .details .info_col .price span.oldprice {
          padding-right: 10px;
          position: absolute;
          top: -0.4em; }
        .main_box .wrapper .details .info_col .price span:nth-child(2) {
          top: 0.4em; }
      .main_box .wrapper .details .info_col .rating {
        position: absolute;
        top: 40px; }
      .main_box .wrapper .details .info_col .size {
        top: 175px;
        bottom: auto; }
        .main_box .wrapper .details .info_col .size li {
          margin-bottom: 12px; }
      .main_box .wrapper .details .info_col .submit {
        bottom: auto;
        top: 300px; }
      .main_box .wrapper .details .info_col .descript {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: -200%;
        overflow: hidden;
        clear: both;
        bottom: -80%; }
        .main_box .wrapper .details .info_col .descript p {
          height: 60px; } }
@media only screen and (max-width: 767px) {
  .main_box .wrapper .item {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }

  .main_box .wrapper .details {
    width: 300px;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 730px;
    position: absolute;
    padding-top: 10px; }
    .main_box .wrapper .details .pic_col {
      height: 300px;
      width: 200px;
      margin: 35px 20%;
      padding: 0; }
      .main_box .wrapper .details .pic_col .social {
        top: 340px;
        left: -30px; }
        .main_box .wrapper .details .pic_col .social ul li {
          float: left;
          margin-left: 5px;
          margin-right: -1px;
          z-index: 200; }
    .main_box .wrapper .details .info_col {
      width: 100%;
      position: absolute;
      left: 0; }
      .main_box .wrapper .details .info_col h1 {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        margin: 0;
        margin-left: 30px; }
      .main_box .wrapper .details .info_col .code {
        font-size: 10px;
        color: #2c303d;
        text-align: left;
        display: inline-block;
        width: 40%;
        top: 36px;
        position: absolute; }
      .main_box .wrapper .details .info_col .rating {
        right: 30px;
        top: 34px; }
      .main_box .wrapper .details .info_col .close {
        width: 30px;
        height: 30px;
        top: -7px;
        right: 5px;
        z-index: 100; }
      .main_box .wrapper .details .info_col .descript {
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 0;
        overflow: inherit;
        clear: both;
        top: 260px;
        background: #eaf2f4;
        font-size: 12px; }
        .main_box .wrapper .details .info_col .descript p {
          height: 150px;
          text-align: center; }
      .main_box .wrapper .details .info_col .price {
        top: 485px;
        left: 0;
        width: 100%; }
      .main_box .wrapper .details .info_col .size {
        top: 540px;
        margin: 0;
        left: 40px; }
        .main_box .wrapper .details .info_col .size:before {
          content: "select a size";
          font-size: 10px;
          display: block;
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 0;
          left: 0;
          right: 0;
          margin-left: -16px; }
      .main_box .wrapper .details .info_col .submit {
        bottom: auto;
        top: 645px;
        margin: 0;
        padding: 0;
        left: 0;
        margin: 0 auto;
        right: 0; }

  .main_box .wrapper .details .info_col .price span.oldprice {
    display: none; }

  .main_box .wrapper .details .info_col .price span:nth-child(2) {
    top: 0; }

  .main_box .wrapper .details .info_col .price span, .main_box .wrapper .details .info_col .price span.oldprice {
    top: 0; }

  .main_box .wrapper .details .info_col .price span {
    float: right;
    width: 100%;
    display: block;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
